@import "../dist/tailwind.dist.css";

/* firefox */
.scroller {
  scrollbar-color: #706C81 #2A2440;
  scrollbar-width: thin;
}

.open {
  transform: rotate(90deg);
  transition-duration: 150ms;
}

.closed {
  transform: rotate(0deg);
  transition-duration: 150ms;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  /* background: #2A2440; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #706C81;
  border-radius: 100vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B9B5CE;
}